@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container {
    max-width: 1464px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* .min-height{
    min-height: 100vh;
} */
.position {
    position: relative;
}

.box {
    width: 400px;
    height: 230px;
    border-radius: 10px;
    border: 2px solid #4F5665;
    margin-left: 50px;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-item {
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pl-30 {
    padding-left: 30px;
}

.pt-30 {
    padding-top: 30px;
}

.pl-20 {
    padding-left: 20px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-10 {
    padding-right: 10px;
}

.font1 {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #0B132A;
}

.font2 {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #4F5665;
}

.font3 {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #0B132A;
}

.font4 {
    max-width: 340px;
    height: 150px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #0B132A;
}

.font5 {
    font-family: Rubik;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #0B132A;
}

.font6 {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #4F5665;
}

.prev {
    border: 2px solid #F53838;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: transparent;
}

.next {
    border: 2px solid #F53838;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: transparent;
}

.color {
    fill: #F53838;
}

.prev:hover,
.next:hover {
    background-color: #F53838;
}

.prev:hover>.color,
.next:hover>.color {
    fill: white;

}

.position1 {
    position: absolute;
    right: 13%;
    top: 111%;
}

.position2 {
    position: absolute;
    right: 8%;
    top: 111%;
}

.slick-dots li.slick-active button:before {
    opacity: unset !important;
    color: #F53838 !important;
    width: 45px;
    height: 15px;
    border-radius: 10px;
    border: 1px solid #F53838;
    background-color: #F53838;
    z-index: 1;
}

.slick-dots li button::before {
    left: -587px !important;
    top: 66px !important;
}

.box:hover {
    border-color: #F53838;
}

.slick-current.slick-active {
    border-color: #F53838;
}

.slick-dots li button:before {
    font-size: 15px !important;
}
.pt-80{
    padding-top: 80px;
}
.pt-20{
    padding-top: 20px;
}
.pb-60{
    padding-bottom: 60px;
}